@import "../styles/global.scss";

.social {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: $spacesS;
  width: $socialWidth;
  svg {
    path {
      fill: $mainColor;
    }
  }
}
