@import "../styles/global.scss";

$imageWidth: 128px;

.container {
  width: $authorWidth;

  margin-top: $spacesS;

  padding-top: $spacesM;
  padding-bottom: $spacesM;

  background-color: $borderColor;
  text-align: center;

  &:hover {
    background-color: $lightAccentColor;
  }
  cursor: pointer;
}

.image {
  width: $imageWidth;
  height: $imageWidth;
  border-radius: 50%;
  object-fit: cover;
}

.title {
  margin-bottom: $spacesXXS;
  margin-top: $spacesXS;

  color: $mainColor;
  font-size: $fonstSizeL;
  font-weight: $fontWeightL;
}

.description {
  margin-bottom: $spacesXXS;

  color: $lightTextColor;
  font-size: $fonstSizeS;
}
