@import "../styles/global.scss";

.container {
  width: $categoryWidth;
  padding: $spacesS;
  border: solid $borderWidth $postBorderColor;

  &:hover {
    background-color: $accentColor;
  }
  cursor: pointer;

  @media (max-width: $breakpointS) {
    width: $categoryWidthSmall;
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $iconHeight;
  width: $iconHeight;
  margin-right: $spacesS;
  margin-top: $spacesXS;
  margin-bottom: $spacesXS;

  border-radius: $spacesXXS;
  background-color: $lightAccentColor;
}

.title {
  margin-top: $spacesXS;
  margin-bottom: $spacesXS;
  color: $mainColor;

  font-size: $fonstSizeL;
  font-weight: $fontWeightL;
}

.description {
  margin-top: $spacesXS;
  color: $lightTextColor;

  font-size: $fonstSizeM;
  line-height: $lineHeightL;
}

.flex {
  display: flex;
  align-items: center;
}
