$mainColor: #232536;

$textColor: #ffffff;
$mediumTextColor: #4c4c4c;
$lightTextColor: #858691;
$postBorderColor: #c4c4c5;

$accentColor: #ffd050;
$lightAccentColor: lighten($accentColor, 30%);
$linkColor: #592ea9;
$lightLinkColor: #f4f0f8;

$modalShadow: #00000070;
$postShadow: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));

$formColor: #2e3040;
$borderColor: #f4f4f4;
$placeholderColor: #5c5d67;
$contactsColor: #a0a1a9;
