@import "../styles/global.scss";

.container {
  display: flex;
  align-items: center;
  margin-bottom: $spacesM;

  &:hover {
    background-color: $lightAccentColor;
    cursor: pointer;
  }

  @media (max-width: $breakpointL) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.image {
  width: $aside;
  height: $postImageHeight;

  object-fit: cover;

  @media (max-width: $breakpointL) {
    width: 100%;
  }
}

.content {
  height: 100%;
  margin-left: $spacesS;
  @media (max-width: $breakpointL) {
    margin-left: 0;
  }
}

.category {
  margin-bottom: $spacesS;

  color: $linkColor;
  text-transform: uppercase;
  font-size: $fonstSizeS;
  font-weight: $fontWeightL;
  letter-spacing: $letterSpacing;

  @media (max-width: $breakpointXL) {
    font-size: $fonstSizeXS;
  }

  @media (max-width: $breakpointL) {
    margin-top: $spacesXS;
    margin-bottom: $spacesXS;
    font-size: $fonstSizeS;
  }
}

.title {
  margin-bottom: $spacesS;

  color: $mainColor;
  font-size: $fonstSizeL;
  font-weight: $fontWeightL;
  line-height: $lineHeightL;

  @media (max-width: $breakpointL) {
    margin-bottom: $spacesXS;
    font-size: $fonstSizeM;
    line-height: $lineHeightL;
  }
}

.description {
  margin-bottom: $spacesS;

  color: $lightTextColor;
  font-size: $fonstSizeS;
  line-height: $lineHeightL;

  @media (max-width: $breakpointL) {
    font-size: $fonstSizeS;
    line-height: $lineHeightS;
  }
}
